<div class="main-view">
    <div class="left-side brand-view">
        <div class="list-items">
            <table>
                <tr>
                    <td class="item1">
                        <a class="brand-view" move-over class="item-can-hover" href="">
                            <div class="item-overlay brand-view"></div>
                            <div class="text-wrap brand-view">
                                <div class="inner">
                                    <div class="content">
                                        <div class="text">
                                            <div class="t-entry">
                                                <h3 class="t-entry-title h6">OU MBA</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image-container brand-view">
                                <img src="../assets/images/brand-1.png" class="item-brand"></img>
                            </div>
                        </a>
                    </td>
                    <td class="item2">
                        <a class="brand-view" move-over href="">
                            <div class="item-overlay brand-view"></div>
                            <div class="text-wrap brand-view">
                                <div class="inner">
                                    <div class="content">
                                        <div class="text">
                                            <div class="t-entry">
                                                <h3 class="t-entry-title h6">Chickasaw Country: Explore a Nation</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image-container brand-view">
                                <img src="../assets/images/brand-2.png" class="item-brand"></img>
                            </div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="item3">
                        <a class="brand-view" move-over href="">
                            <div class="item-overlay brand-view"></div>
                            <div class="text-wrap brand-view">
                                <div class="inner">
                                    <div class="content">
                                        <div class="text">
                                            <div class="t-entry">
                                                <h3 class="t-entry-title h6">Digital Marketing</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image-container brand-view">
                                <img src="../assets/images/brand-3.png" class="item-brand"></img>
                            </div>
                        </a>
                    </td>
                    <td class="item4">
                        <a class="brand-view" move-over href="">
                            <div class="item-overlay brand-view"></div>
                            <div class="text-wrap brand-view">
                                <div class="inner">
                                    <div class="content">
                                        <div class="text">
                                            <div class="t-entry">
                                                <h3 class="t-entry-title h6">Advertising</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image-container brand-view">
                                <img src="../assets/images/brand-4.png" class="item-brand"></img>
                            </div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="item5">
                        <a class="brand-view" move-over href="">
                            <div class="item-overlay brand-view"></div>
                            <div class="text-wrap brand-view">
                                <div class="inner">
                                    <div class="content">
                                        <div class="text">
                                            <div class="t-entry">
                                                <h3 class="t-entry-title h6">Graphic Design</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image-container brand-view">
                                <img src="../assets/images/brand-5.png" class="item-brand"></img>
                            </div>
                        </a>
                    </td>
                    <td class="item6">
                        <a class="brand-view" move-over href="">
                            <div class="item-overlay brand-view"></div>
                            <div class="text-wrap brand-view">
                                <div class="inner">
                                    <div class="content">
                                        <div class="text">
                                            <div class="t-entry">
                                                <h3 class="t-entry-title h6">Branding & Design</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image-container brand-view">
                                <img src="../assets/images/brand-6.png" class="item-brand"></img>
                            </div>
                        </a>
                    </td>
                </tr>
            </table>
            <div class="brand-footer"></div>
        </div>
        <!-- <div class="brand-footer"></div> -->
    </div>
    <div class="right-zone">
        <img src="../assets/images/brand-right-background.png"></img>
    </div>
</div>