.ok-header {
    background-image: url('../assets/images/ok-header.png');
    width: 100%;
    height: 372px;
}

.ok-title {
    background-image: url('../assets/images/ok-title.png');
    position: absolute;
    left: 10px;
    top: 330px;
    width: 810px;
    height: 351px;
    box-shadow: 6px 6px 31px rgba(0, 0, 0, 0.6392156862745098);
}

.ok-bar-style {
    .right-side {
        background: url('../assets/images/ok-sidebar-2.png');
    }
}