.acme-navbar-text{
  color: white;
}

a {
  color: black;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

.brand-bar-style {
  .right-side {
    background: url('../assets/images/background-brand-sidebar.png');
  }
}
